[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pytz = "==2018.5"
Django = "==2.1.2"
djangorestframework = "*"
pygments = "*"

[requires]
python_version = "3.6"
