[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"

[packages]
pytz = "==2018.5"
Django = "==2.1.2"
djangorestframework = "*"
pygments = "*"
django-extensions = "*"

[requires]
python_version = "3.6"
